$color-orange: hsl(26, 100%, 55%);
$color-pale-orange: hsl(25, 100%, 94%);

$color-very-dark-blue: #1d2025;
$color-dark-grayish-blue: #68707d;
$color-grayish-blue: #b6bcc8;
$color-light-grayish-blue: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)
$font-primary: 'Kumbh Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
