@use '../sass/mixins.scss';
@use '../sass/variables';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.1875rem;
  padding-bottom: 1.5rem;
  @include mixins.mq(tablet) {
    padding-top: 0;
    padding-bottom: 2.125rem;
    border-bottom: 1px solid #e4e9f2;
  }
  &__menu {
    display: none;
    @include mixins.mq(tablet) {
      display: flex;
      align-items: center;
      margin-left: 3.5rem;
    }
    &.active {
      display: block;
      position: fixed;
      padding-top: 5.75rem;
      padding-left: 1.5rem;
      color: variables.$color-black;
      width: 15.625rem;
      height: 100%;
      top: 0;
      left: 0;
      background-color: variables.$color-white;
      z-index: 5;
    }
    &-items {
      font-size: 1.125rem;
      font-weight: variables.$font-weight-bold;
      margin-bottom: 1.25rem;
      position: relative;
      @include mixins.mq(tablet) {
        margin-bottom: 0;
        font-size: 0.9375rem;
        line-height: 26px;
        font-weight: variables.$font-weight-regular;
        color: variables.$color-dark-grayish-blue;
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
      &:hover,
      &:focus {
        @include mixins.mq(tablet) {
          color: #1d2026;
        }
      }
      &:hover::after,
      &:focus::after {
        @include mixins.mq(tablet) {
          content: '';
          width: 100%;
          height: 4px;
          background-color: variables.$color-orange;
          position: absolute;
          bottom: -2.85rem;
          left: 0;
          right: 0;
        }
      }
    }
  }
  &__logo {
    margin-left: 1rem;
    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;
    & svg path {
      fill: variables.$color-black;
    }
  }
  &__avatar-container {
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.38625rem;
    position: relative;

    @include mixins.mq(tablet) {
      width: 3.125rem;
      margin-left: 2.875rem;
    }
    &:hover::before,
    &:focus::before {
      content: '';
      background-color: variables.$color-orange;
      width: 54px;
      height: 54px;
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 50%;
    }
  }
}
.menu-btn {
  z-index: 10;
  @include mixins.mq(tablet) {
    display: none;
  }
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgb(0, 0, 0, 0.75);
  mix-blend-mode: normal;
}
.cart-icon {
  position: relative;
}
.cart-notification {
  position: absolute;
  top: -6px;
  right: -6.18px;
  width: 19px;
  height: 13px;
  border-radius: 3rem;
  background-color: variables.$color-orange;
  display: grid;
  place-content: center;
  & span {
    color: variables.$color-white;
    font-size: 0.625rem;
    line-height: 12px;
    font-weight: variables.$font-weight-bold;
  }
}
